* {
    margin: 0;
    padding: 0;
}

body {
    width: 60vh;
    text-align: center;
    margin: auto;
}

h1 {
    position: relative;
}

h1:after {
    display: block;
    content: '';
    width: 150px;
    height: 3px;
    background: #a01916;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

article {
    padding-top: 5px;
}